body {
    color: #fff;
    background-color: #225378;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-view .row {
  margin-bottom: 1.2em; 
}

.top-bar {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.2em;
  margin-bottom: 1.8em; 
}

.promotion {
  text-align: center;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 300;
}

.role-bar {
  color: #fff;
  text-align: center;
}

.role-bar > h2 {
  margin-bottom: 0.5em; 
}

.btn-outline {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
  outline-width: 0;
}

.top-bar > h1 {
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
}

.form-area {
  text-align: center; 
}

.observer-session {
  text-align: center; 
}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
