body {
    color: #fff;
    background-color: #225378;
    font-family: "Lato", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", Arial, sans-serif;
}

.top-bar {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.2em;
  margin-bottom: 1.8em;
}

@media (max-width: 768px) {
  .top-bar {
    text-align: center;
  }

  .main-view .form-group {
    margin: 0 10%;
  }
}

.promotion {
  text-align: center;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 300;
}

.main-view .form-group {
  vertical-align: top;
}

.role-bar {
  color: #fff;
  text-align: center;
}

.role-bar .btn {
  margin-bottom: 0.8em;
}

.role-bar > h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0.5em 0 0.5em 0;
}

.btn-outline {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
  outline-width: 0;
}

.top-bar h1 {
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
}

.top-bar a {
  text-decoration: none;
}

.presenter-session .glyphicon-user,
.observer-session .glyphicon {
  font-size: 50px;
}

.presenter-session h2 {
  margin-top: 10px;
  margin-bottom: 28px;
}

.form-inline .form-control,
.form .form-control {
  margin-bottom: 0.6em;
}

.form-area {
  text-align: center;
}

.observer-session,
.presenter-session {
  text-align: center;
}

.presenter-session button {
  margin-right: 0.8em;
}

.ask-form {
  margin-left: 12%;
  margin-right: 12%;
}

.observer-session .room-list {
  margin-top: 1em;
  list-style-position: inside;
  font-size: 18px;
}

.observer-session ol,
.presenter-session ol {
  -webkit-padding-start: 0px;
}

.presenter-session .experiment {
  margin-top: 0.8em;
}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
