<div class="observer-session">
  <div class="col-sm-8 col-sm-offset-2">
    <span class="glyphicon glyphicon-comment"></span>
    <h1>{{queue.length || 0}} user(s) in queue</h1>
     <section class="experiment">
      <form
        class="form ask-form"
        role="form"
        ng-show="prompt"
        ng-submit="askQuestion()">
        <div class="form-group">
          <input type="text"
            class="form-control"
            ng-model="room.name"
            placeholder="Name"
            required 
            autofocus />
          <input type="email"
            class="form-control"
            ng-model="room.email"
            placeholder="Email (optional)" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">
            Register to Ask A Question
          </button>
        </div>
      </form>
      <div class="form-group" ng-hide="prompt">
        <button type="submit" class="btn btn-default" ng-click="leave()">
          Leave
        </button>
      </div>
      <ol class="room-list">
        <li ng-repeat="room in queue">
          {{room.name}}
          <span ng-show="room.email">
            - {{room.email}}
          </span>
        </li>
      </ol>
    </section>
  </div>
</div>