<div class="presenter-session">
  <div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <span class="glyphicon glyphicon-user"></span>
    <h1>{{rooms.length}} users in queue</h1>
    <button
      type="button"
      class="btn btn-outline btn-lg btn-role"
      ng-hide="listening"
      ng-click="startListening()">
      <span class="glyphicon glyphicon-play"></span>
      Start
    </button>
    <button
      type="button"
      class="btn btn-outline btn-lg btn-role"
      ng-show="listening"
      ng-click="pauseListening()">
      <span class="glyphicon glyphicon-pause"></span>
      Pause
    </button>
    <button
      type="button"
      class="btn btn-outline btn-lg btn-role"
      ng-click="nextRoom()">
      <span class="glyphicon glyphicon-step-forward"></span>
      Next
    </button>
    <section class="experiment">                
      <!-- list of all available broadcasting rooms -->
      <ol>
        <li ng-repeat="room in rooms">{{room.name}}</li>
      </ol>
      <table style="width: 100%;" id="rooms-list"></table>
    </section>
  </div>
</div>